.App {
  text-align: center;
}

body, label {
	font: 14pt "IM FELL English", sans-serif;
}
ol, ul {
	padding-left: 30px;
}
.status {
	margin-bottom: 14px;
}
select, input {
	font: 14pt "IM FELL English", sans-serif;
}