.App {
  text-align: center;
}

body, label {
	font: 14pt "IM FELL English", sans-serif;
	margin-left: 10%;
	margin-right: 10%;
}
ol, ul {
	padding-left: 30px;
}
div {
	margin: 5px;
}
.status {
	margin-bottom: 14px;
}
#cardImage{
	max-width: 200px;
	width:80%;
}
.thumb{
	max-width: 100px;
	width:50%;
}
.floatedLeft{
	float: left; 
}
.clearFloat{
	clear: left; 
}
.NarrowDiv30pc{
	width:20%; 
	text-align: right; 
	padding: 0 12px;
}
.NarrowDiv60pc{
	width:70%; 
	text-align: left; 
	padding: 0 12px;
}
select, input, button {
	font: 14pt "IM FELL English", sans-serif;
}
.Normal{
	transform: rotate(0deg);
}
.Reversed{
	transform: rotate(180deg);
}
.pHidden{
	display:none;
}
.pVisibleInline{
	display:inline;
}
.LongDescription{
	font: 13pt "IM FELL English", sans-serif;
	color: #888;
}